doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title index
  body
    h1 StaticComponent 1
    .staticComponent(data-nblock-id="block/staticComponentBlock")
      .headerText(data-component="componentName=Text&dataLabel=headerText")
      .counterBox1(data-component="componentName=Counter&dataLabel=counter[id]")
      .counterBox2(data-component="componentName=Counter&dataLabel=counter[id]")
      .footerText(data-component="componentName=Text&dataLabel=footerText")
    h1 StaticComponent 2
    .staticComponent2(data-nblock-id="block/staticComponentBlock")
      .headerText(data-component="componentName=Text&dataLabel=headerText2")
      .counterBox1(data-component="componentName=Counter&dataLabel=counter[id]")
      .counterBox2(data-component="componentName=Counter&dataLabel=counter[id]")
      .footerText(data-component="componentName=Text&dataLabel=footerText2")
    h1 DynamicComponent
    .dynamicComponent
      .headerText(data-nblock-id="block/dynamicComponentBlock?componentName=Text&dataLabel=headerText")
      .counterBox1(data-nblock-id="block/dynamicComponentBlock?componentName=Counter&dataLabel=counter[id]")
      .counterBox2(data-nblock-id="block/dynamicComponentBlock?componentName=Counter&dataLabel=counter[id]")
      .footerText(data-nblock-id="block/dynamicComponentBlock?componentName=Text&dataLabel=footerText")
    h1 DynamicComponent 2
    .dynamicComponent
      .headerText(data-nblock-id="block/dynamicComponentBlock?componentName=Text&dataLabel=headerText2")
      .counterBox1(data-nblock-id="block/dynamicComponentBlock?componentName=Counter&dataLabel=counter[id]")
      .counterBox2(data-nblock-id="block/dynamicComponentBlock?componentName=Counter&dataLabel=counter[id]")
      .footerText(data-nblock-id="block/dynamicComponentBlock?componentName=Text&dataLabel=footerText2")

    - var bowerPath = '/bower_components'
    - var nodePath = '/node_modules'
    #scriptArea(style="display: none")
      script(src=`${bowerPath}/underscore/underscore.js`)
      script(src=`${bowerPath}/zepto/zepto.js`)
      script(src=`${nodePath}/ndoojs/js/ndoo.js`)