doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title index
  body
    #headerText
    #container
      h1 container
    #footerText
    - var bowerPath = '/bower_components'
    script(src="#{bowerPath}/underscore/underscore.js")
    script(src="#{bowerPath}/zepto/zepto.js")
    script(src="#{bowerPath}/ndoojs/dist/ndoo_all.js")
    script(src="./dist/bundle.js")